

html{
    min-height:100%;
}

p {
    margin: 0 0 10px;
    font: -webkit-control;
    font-size: -webkit-xxx-large;
}

.size-latest{
width: 100px;
height: 100px;
}

.Container{
  width:500px;
  margin:7% auto;
  position:relative;
  top:30px;
  left: 0;
}

.Items{
  position:absolute;
  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.Carousel{	
  margin: 0;
  padding: 0;
}

.Carousel li{
  list-style:none;
  width:600px;
  height:600px;
  background:#333;
  border-radius:8px;
  border:1px solid #000;
}

/*Let the users know there is something to click.*/
.Carousel li:hover{
  cursor:pointer;
}

/*The front image.*/
.Front{
  z-index:6000;
}

/*The left image.*/
.Left{
  left:-200px;
  z-index:1000;
  opacity:0.6;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

/*The left image.*/
.Left2{
  left:-400px;
  z-index:1000;
  opacity:0.4;
  -webkit-transform: scale(.50);
  -moz-transform: scale(.50);
  transform: scale(.50);
}

/*The right image.*/
.Right{
  left:200px;
  z-index:1000;
  opacity:0.6;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

/*The right image.*/
.Right2{
  left:400px;
  z-index:1000;
  opacity:0.4;
  -webkit-transform: scale(.50);
  -moz-transform: scale(.50);
  transform: scale(.50);
}


.Scale{
  z-index:1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.Scale2{
  z-index:3000;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.Items{
  font-family:oswald;
  font-size:200px;
  text-align:center;
  color:#FFF;
  text-shadow:#000 0px 1px;
}
