/* INTRO PAGE STYLING */
body#index {
	background-color:white;
	position:relative;
	font-family: 'Barrio', cursive;

}

a.navbar-brand {
	font-size: 20px;
	font-family: 'Barrio', cursive;
	
	}

.navbar {
	font-family: 'Barrio', cursive;

}

.container {
	max-width: 730px;
}

.container>.navbar-header {
    margin-right: -20%;
    margin-left: -58%;
    padding-right: 33%;
}	

.navbar-default .navbar-brand {
	position:relative;
	font-size: 475%;
    color: #00ff04;	
}

.navbar-default {
    background-color: #080808;
    border-color: #080808;
	position: fixed;
background: #5A3F37;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.glyphicon-grain:before {
    content: "\e239";
    text-align: center;
}

.navbar-header {
  margin:auto;
  margin-right: -16%;
  padding-left: 24%;
}

.navbar-nav {
    float: left;
}

.nav {
	font-family: 'Barrio', cursive;
	padding-left: 66%;
	font-size: 157%;
}


h3.header {
	font-size: 50px;
	color:chartreuse;
	
}

h2.latest {
	font-size: 30px;
	color: yellowgreen;
	text-align:left-side ;
	margin-left:30%;
}

h2.latest-videos {
	font-size: 30px;
	color: yellowgreen;
	text-align: center;
    margin-left: -24%;
	}

.glyphicon-grain:before {
    content: "\e239";
    text-align: -webkit-left;
}




p.slogan {
	font-size: 30px;
	color:chartreuse;
}

li.review {
	background: #BA8B02;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	
}

li.latest {
background: #BA8B02;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}

li.videos {
background: #BA8B02;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}	

li.dropdown {
	background: #BA8B02;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-default .navbar-nav>li>a {
    color: #00ff04;
}

	


.carousel {
    position: relative;
background: #DCE35B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	width: 550px;
	margin-left: 14%;
}


.carousel-inner {
    width: 499px;
    border-radius: 1110px;
	margin: auto;
	background: #DCE35B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

div.jumbotron {
	background-color: white;
	position:relative;
	margin-top: 54%;
	background: #DCE35B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #647120;  
}



.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: green;
	font-size: 30px;
}

.col-md-4 {
	padding-top: 8%;
}




#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 600px;
}
#slides_control {
  position:relative;
  width: 550px
}




/* Registration page */ 
.username {
	

/*Review page */


.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}	

